@tailwind base;
@tailwind components;
@tailwind utilities;


.login-bg {
    background-image: url('./assets/bg.png');
    background-size: cover;
    background-position: center center;
  }
  
  .top-avatar {
    position: fixed;
    top: 30px;
    right: 30px;
  }